* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(97,102,255,1) 100%);
    text-align: center;
    padding: 50px 0;
    font-family: 'Girassol', cursive;
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.header img {
    width: 130px;
}

.container {
    display: flex;
}

.navbar {
    width: 20%;
    background: #e7e6e6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    margin: 10px;
    height: 45px;
    text-align: center;
    font-family: 'Girassol', cursive;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
}

.menu-list li a {
    text-decoration: none;
    color: white;
}

.content {
    width: 80%;
    background: #d8d8d8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
}

.footer {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(97,102,255,1) 100%);
    text-align: center;
    padding: 25px;
    margin-top: 120px; 
    font-family: 'Girassol', cursive;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0px 550px 0px 550px;
}

.footer ul li a img {
    width: 40px;
}