* {
    margin: 0;
    padding: 0;
}
html, body {
    height: auto;
}

body {
    font-family: 'Dancing Script', cursive;
    color: black;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background-position: center center;
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 0px 0px 25px black;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    font-size: 20px;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content:space-between;
    list-style: none;
    margin: 20px 50px;
}

.social img {
    width: 55px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 15px 20px;
}

.links-list li a {
    background-image: radial-gradient( circle farthest-corner at 5.3% 17.2%,  rgba(255,208,253,1) 0%, rgba(255,237,216,1) 90% ); 
    padding: 15px 20px;
    display: block;
    border: 1px solid black;
    border-radius: 13px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
}

.links-list li a span {
    color: black;
    display: block;
    margin-top: 2px;
}

.footer {
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-top: 50px;
    padding: 8px;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
    color: black;
}